In [1]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model  import LinearRegression
from sklearn.metrics       import r2_score
import matplotlib.pyplot as plt
import numpy             as np
import pandas            as pd
plt.style.use('dark-style.mplstyle')




# Generate X and Y
X = pd.DataFrame({
    'A': [i for i in range(1,101)],
    'B': [i for i in range(2,102)]
})

Y = pd.DataFrame()
Y['C'] = X['A']**2 + X['A']

display( pd.concat([X,Y], axis=1) )

      A    B      C
0     1    2      2
1     2    3      6
2     3    4     12
3     4    5     20
4     5    6     30
..  ...  ...    ...
95   96   97   9312
96   97   98   9506
97   98   99   9702
98   99  100   9900
99  100  101  10100

[100 rows x 3 columns]

<br>

# Sklearn

In [2]:
# Do poly regression
poly   = PolynomialFeatures(degree=2)
X_poly = poly.fit_transform(X)
# Generate the model
model = LinearRegression()
model.fit(X_poly, Y)


# Display the result of poly features and he coeefs of model
display( pd.concat([X,Y,pd.DataFrame(X_poly)], axis=1) )
print(model.coef_)

Y_pred = model.predict(X_poly)
# Plot best fit line
# plt.scatter(X,Y, s=2, zorder=2)
# plt.plot(X,Y_pred, color='#bfbbd9', zorder=1)
# plt.show()
r2_score(Y, Y_pred)

      A    B      C    0      1      2        3        4        5
0     1    2      2  1.0    1.0    2.0      1.0      2.0      4.0
1     2    3      6  1.0    2.0    3.0      4.0      6.0      9.0
2     3    4     12  1.0    3.0    4.0      9.0     12.0     16.0
3     4    5     20  1.0    4.0    5.0     16.0     20.0     25.0
4     5    6     30  1.0    5.0    6.0     25.0     30.0     36.0
..  ...  ...    ...  ...    ...    ...      ...      ...      ...
95   96   97   9312  1.0   96.0   97.0   9216.0   9312.0   9409.0
96   97   98   9506  1.0   97.0   98.0   9409.0   9506.0   9604.0
97   98   99   9702  1.0   98.0   99.0   9604.0   9702.0   9801.0
98   99  100   9900  1.0   99.0  100.0   9801.0   9900.0  10000.0
99  100  101  10100  1.0  100.0  101.0  10000.0  10100.0  10201.0

[100 rows x 9 columns]

[[ 0.00000000e+00 -5.99520433e-15 -6.13745166e-15  3.33333333e-01
   3.33333333e-01  3.33333333e-01]]

1.0

<br>

# Numpy

<br>